.mainContainer {
  position: relative;
}

.headerSection {
  position: relative; /* Ensures the header stays in the document flow */
  z-index: 2; /* Sets the stacking order to be on top */
}

.mainContentSection {
  /* Adjust the margin as needed */
  position: relative; /* Ensures the main content stays in the document flow */
  z-index: 1; /* Sets the stacking order to be below the header */
}
